$color: white;
$titre-une: rgb(214, 208, 208);
$color-link: rgb(13, 29, 250);
$color-linkhover: rgb(0, 255, 255);
$bg: #3c3c3e;
$border-color: #0d2538;
$hun-color: #fbf8fb;
$htrois-color: #7ff6ec;
$hquatre-color: #a4ebee;
$bann-border: rgb(88, 100, 118);
$bann-color: rgb(219, 219, 220);
$nuxtlink-color: white;
$linktitle-color: rgb(251, 77, 222);
$hcinq-color: rgb(255, 255, 187);
